src/main/mule/implementations/get-covid-case-by-national-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\cases\(nationalID):uhub-sapi-configg" doc:id="0cdfa267-4239-4fbc-80c8-2cc4de8c1941">
		<set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationId" doc:id="f8880dfb-464e-466c-ace9-2c16154a67f8" variableName="correlationId" />
		<logger level="INFO" doc:name="Start Log" doc:id="a9da54eb-b242-4bf7-a9d3-2cac2e1194bb" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: "Started get covid case by national id flow"' />
		<flow-ref doc:name="fetch-case-by-national-id-sub-flow" doc:id="22cedc33-9bff-4b2b-aeb8-e7806c14d7fd" name="fetch-case-by-national-id-sub-flow" />
		<ee:transform doc:name="Transform Message" doc:id="257c0a34-4163-4fa5-a7b6-2d1d5329349c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map $]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="2ad38ca0-65f9-4db2-855c-ded0ef04a6e0" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: Completed get covid case by national id flow, payload: #[payload]"' />
    
</flow>
	</mule>
